body{
    background-color: rgb(188, 127, 245)
}
h1{
    color: rgb(12, 0, 28) ;
 }

 div{
    margin: 2%;
    width: 50%;
    height: 200px;
 }
#padre{
    background-color: brown;
}
#hijo{
    background-color: bisque;
}
.caja{
    width: 400px;
}