body{
    background-color: rgb(188, 127, 245)
}
h1{
    color: rgb(12, 0, 28) ;
 }

 div{
    margin: 2%;
    width: 50%;
    height: 200px;
 }
 img{
    img {
    background-color: yellow;
    padding: 30px;
    border: #4a4ae3 solid 5px;
    border-radius: 50px;
    margin: 50px 30px 10px 20px;
}
 }
#padre{
    background-color: brown;
}
#hijo{
    background-color: bisque;
}
.caja{
    width: 400px;
}
.oscuro{
    background-color: black;
}
.tituloNuevo{
    text-align: center;
    background-color: rgb(170, 235, 213);
    width: 50%;
    padding: 30px;
    margin: 20px; /* Todos iguales */
    margin: 30px 10px; /* vertical horizontal */
    margin: 30px 20px 10px; /* arriba lados abajo */
    margin: 50px 20px 30px 10px; /* arriba der abajo izq */
    /* Cada lado por separado */
}